In [9]:
import numpy as np
import pandas as pd
import collections

In [6]:
#please put the files within a same direction
q=pd.read_csv('Questions.csv', encoding='latin-1')
t=pd.read_csv('Tags.csv')
qnum=q.shape[0]
#print(qnum)
#t.head(3)

1264216

   Id             Tag
0  80            flex
1  80  actionscript-3
2  80             air

In [7]:
#appending tags of a same question into one row
tappend= t['Tag'].groupby([t.Id]).apply(list).reset_index()
tappend.head(3)

    Id                                                Tag
0   80                        [flex, actionscript-3, air]
1   90  [svn, tortoisesvn, branch, branching-and-merging]
2  120                            [sql, asp.net, sitemap]

In [11]:
n=10
tagCount10 =  collections.Counter(list(t['Tag'])).most_common(n)
print(tagCount10)
tagCount10np=np.array(tagCount10)
tagCount10np.reshape(n,2)
tagCount10pd=pd.DataFrame(tagCount10np)
tagCount10pd.columns=['tag', 'count']
tagCount10pd['count']=(tagCount10pd['count']).astype(int)
tagCat10=list(tagCount10pd['tag'])

[('javascript', 124155), ('java', 115212), ('c#', 101186), ('php', 98808), ('android', 90659), ('jquery', 78542), ('python', 64601), ('html', 58976), ('c++', 47591), ('ios', 47009)]

In [13]:
a10 = np.zeros(shape=(qnum,n))
iter=-1
for d in tappend.Tag:
    iter=iter+1
    for k in range(n):
        if tagCat10[k] in d:
            a10[iter, k]=1

In [14]:
a10=pd.DataFrame(a10, columns=tagCat10)
at10=pd.concat([tappend, a10], axis=1)
col_list= list(at10)
col_list.remove('Id')
at10['sumtag'] = at10[col_list].sum(axis=1)
at10.head(3)
#at10.to_csv('tagappendforquestion.csv', encoding='utf-8', index=False)

,Id,Tag,javascript,java,c#,php,android,jquery,python,html,c++,ios,sumtag
0,80,"[flex, actionscript-3, air]",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,90,"[svn, tortoisesvn, branch, branching-and-merging]",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,120,"[sql, asp.net, sitemap]",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [16]:
n=256
tagCount256 =  collections.Counter(list(t['Tag'])).most_common(n)
tagCount256np=np.array(tagCount256)
tagCount256np.reshape(n,2)
tagCount256pd=pd.DataFrame(tagCount256np)
tagCount256pd.columns=['tag', 'count']
tagCount256pd['count']=(tagCount256pd['count']).astype(int)
tagCat256=list(tagCount256pd['tag'])

In [17]:
a256 = np.zeros(shape=(1264216,n))
iter=-1
for d in tappend.Tag:
    iter=iter+1
    for k in range(n):
        if tagCat256[k] in d:
            a256[iter, k]=1

In [18]:
a256=pd.DataFrame(a256, columns=tagCat256)
at256=pd.concat([tappend, a256], axis=1)
col_list= list(at256)
col_list.remove('Id')
at256['sumtag'] = at256[col_list].sum(axis=1)
at256.head(3)
#at256.to_csv('256tagappendforquestion.csv', encoding='utf-8', index=False)

,Id,Tag,javascript,java,c#,php,android,jquery,python,html,...,unity3d,google-maps-api-3,matplotlib,apache-spark,asp.net-web-api,arraylist,multidimensional-array,web,file-upload,sumtag
0,80,"[flex, actionscript-3, air]",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
1,90,"[svn, tortoisesvn, branch, branching-and-merging]",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,120,"[sql, asp.net, sitemap]",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0