In [1]:
import numpy as np
import pandas as pd
import collections
import matplotlib.pyplot as plt

In [7]:
t=pd.read_csv('Tags.csv')
at256 = pd.read_csv('256tagappendforquestion.csv')
at256 = at256[at256.sumtag != 0]

In [20]:
#Construct a co-occurence matrix for the tag graph
n=256
tagCount =  collections.Counter(list(t['Tag'])).most_common(n)
ocurrence = at256.iloc[:,2:n+2].copy()
co_ocurrence=np.dot(ocurrence.transpose(), ocurrence)
for i in range(n):
    co_ocurrence[i,i]=0

In [17]:
#Construct the observed-to-expected table for the tag graph
co_matrix1 = np.empty(shape=((n*n-n)//2,2), dtype='object')
co_matrix2 = np.zeros(shape=((n*n-n)//2,5))
countTotal=sum(sum(co_ocurrence))/2
tagCount=np.array(tagCount)
iter=0
for i in range(n):
    for j in range(i+1,n):
        co_matrix1[iter, 0]=tagCount[i, 0]
        co_matrix1[iter, 1]=tagCount[j, 0]
        co_matrix2[iter, 1]=tagCount[i, 1]
        co_matrix2[iter, 2]=tagCount[j, 1]
        co_matrix2[iter, 3]=co_ocurrence[i, j]
        co_matrix2[iter, 4]=countTotal
        co_matrix2[iter, 0]=co_matrix2[iter, 3]*countTotal/co_matrix2[iter, 1]/co_matrix2[iter, 2]
        iter=iter+1
co_matrix=np.hstack((co_matrix1, co_matrix2))
co_ocurrencepd=pd.DataFrame(co_ocurrence)
co_ocurrencepd.head(3)

,0,1,2,3,4,5,6,7,8,9,...,246,247,248,249,250,251,252,253,254,255
0,0.0,1395.0,1897.0,8548.0,1146.0,41354.0,593.0,23138.0,135.0,716.0,...,1136.0,24.0,959.0,2.0,0.0,67.0,18.0,175.0,394.0,247.0
1,1395.0,0.0,635.0,593.0,16287.0,423.0,444.0,931.0,596.0,124.0,...,5.0,29.0,30.0,0.0,197.0,6.0,1529.0,227.0,193.0,135.0
2,1897.0,635.0,0.0,245.0,535.0,1277.0,156.0,849.0,843.0,225.0,...,3.0,907.0,25.0,1.0,2.0,814.0,87.0,125.0,110.0,161.0

In [19]:
co_matrix=pd.DataFrame(co_matrix)
co_matrix.head(3)

            0     1         2       3       4     5            6
0  javascript  java   0.14491  124155  115212  1395  1.48589e+06
1  javascript    c#  0.224372  124155  101186  1897  1.48589e+06
2  javascript   php   1.03537  124155   98808  8548  1.48589e+06

In [39]:
cccc=co_matrix
#eliminating tag pairs that do not co-occur
cccc = cccc[~(cccc == 0).any(axis=1)]
sortedco_matrix=cccc.sort_values(by=2, ascending=1)
sortedco_matrix.columns = ['Tag1', 'Tag2', 'OERatio','Count1','Count2','Count12','CountAll']

In [40]:
#sortedco_matrix.to_csv('sortedco_matrix.csv', encoding='utf-8', index=False)

In [41]:
sortedco_matrix.head(3)

         Tag1           Tag2      OERatio Count1 Count2 Count12     CountAll
1276   jquery              c  0.000814115  78542  23238       1  1.48589e+06
1033  android              r   0.00104387  90659  15701       1  1.48589e+06
2018      c++  ruby-on-rails   0.00121067  47591  25789       1  1.48589e+06